.container{
    display:flex;
    flex-direction: column;
    height:60vh;
    img{
        margin-top:1rem;
        background:none;
        padding:0 0;
        border-radius:0;
        padding-bottom:.6rem;
        width: 11rem;
    }
    .inner-content{
        display: flex;
        flex-direction: column;
        // border: 1px solid #e9e9e9;
        // padding:2.5rem 3.5rem 3.5rem 3.5rem;
.text{
    p:nth-child(1){
        font-family: bw;
        font-weight: bold;
        font-size:1.75rem;
        padding:0;
    }

    p {
        width: 50%;
        padding:.2rem 0 1.25rem 0;
        font-size:1.125rem;
        line-height: 1.75rem;
    }
}
input{
    padding:.85rem .75rem;
    width:26.75rem;
    font-family: arial;
    color:black;
    border:1px solid black;
    border-radius: .2rem;
    font-size: .95rem;  
    &:focus {
        outline: none; // Remove default browser outline
        box-shadow: 0 0 1px 1px black; // Change glow to black
        border-color: black; // Optional: Change the border to black as well
        caret-color: black; // Set the caret (blinking cursor) color to black
      }
}
.email{
    margin-top: .35rem;
}
.submit{
    padding:.75rem .75rem;
    margin-top: .5rem;
    background-color: black;
    color:white;
    &:hover{
        opacity: .85;
        cursor: pointer; 
    }
}  
  }
}
@media screen and (min-width:615px) and (max-width: 717px) {
    .container{
        img{
            width: 10rem;
        }
        .inner-content{
        .text{
            p {
                width:55%;
            }
        }
        input{
            width:23rem;
        }
    }
}
}
@media screen and (min-width:500px) and (max-width: 614px) {
    .container{
        img{
            width: 10rem;
        }
        .inner-content{
        .text{
            p {
                width:60%;
            }
        }
        input{
            width:22.25rem;
        }
    }
}
}
@media screen and (min-width: 478px)  and (max-width: 499px) {
    .container{
        img{
            width: 10rem;
        }
        .inner-content{
        .text{
            p {
                width:61%;
            }
        }
        input{
            width:22rem;
        }
    }
}
}
@media screen and (min-width: 458px)  and (max-width: 477px) {
    .container{
        img{
            width: 10rem;
        }
        .inner-content{
        .text{
            p:nth-child(1){
                font-size:1.5rem;
            }
            p {
                width:65%;
            }
        }
        input{
            width:23rem;
        }
    }

}
}
@media screen and (min-width: 440px)  and (max-width: 457px) {
    .container{
        img{
            width: 10rem;
        }
        .inner-content{
        .text{
            p:nth-child(1){
                font-size:1.5rem;
            }
            p {
                width:67%;
            }
        }
        input{
            width:23.5rem;
        }
    }
}
}
@media screen and (min-width: 410px)  and (max-width: 439px) {
    .container{
        img{
            width: 10rem;
        }
        .inner-content{
        .text{
            p:nth-child(1){
                font-size:1.5rem;
            }
            p {
                width:72.5%;
            }
        }
        input{
            width:23.25rem;
        }
    }
}
}
@media screen and (min-width:383px) and (max-width: 409px) {
    .container{
        img{
            width: 10rem;
        }
        .inner-content{
        .text{
            p:nth-child(1){
                font-size:1.5rem;
            }
            p {
                width:77.5%;
            }
        }
        input{
            width:23.75rem;
        }
    }
}
}
@media screen and (min-width:362px) and (max-width: 382px) {
    .container{
        img{
            width: 10rem;
        }
        .inner-content{
        .text{
            p:nth-child(1){
                font-size:1.5rem;
            }
            p {
                width:82.5%;
            }
        }
        input{
            width:23.25rem;
        }
    }
}
}
@media screen and (min-width:340px) and (max-width: 361px) {
    .container{
        img{
            width: 10rem;
        }
        .inner-content{
        .text{
            p:nth-child(1){
                font-size:1.5rem;
            }
            p {
                width:85%;
            }
        }
        input{
            width:23rem;
        }
    }
}
}
@media screen and (max-width: 339px) {
    .container{
        padding:0 .5rem;
        img{
            width: 10rem;
        }
        .inner-content{
        .text{
            p:nth-child(1){
                font-size:1.5rem;
            }
            p {
                width:95%;
            }
        }
        input{
            width:23rem;
        }
    }
}
}