.container{
    display:flex;
    flex-direction: column;
    padding-bottom:8rem;
    img{
        background:none;
        margin:1rem 0 5rem 0rem;
        width: 4rem;
        border-radius:.5rem;
        border: .175rem solid #000;
    }
    form{
        margin-top: .5rem;
    }
.inner-content{
        display: flex;
        flex-direction: column;
.text{
    h1, span{
        padding-bottom:3rem;
        text-align: center;
        font-family: ku;
        font-size: 3.75rem;
        line-height:4rem;
        width:48%;
    }
    p{
        text-align: center;
        width:43%;
        font-size:1.15rem;
        line-height: 1.65rem;
        b{
            font-family:bold;
        }
    }
}
input{
    width:23rem;
    padding:.85rem .75rem;
    font-family: arial;
    color:black;
    border:2px solid black;
    border-radius: .2rem;
    font-size: 1.1rem;  
    &:focus {
        outline: none; // Remove default browser outline
        box-shadow: 0 0 1px 1px black; // Change glow to black
        border-color: black; // Optional: Change the border to black as well
        caret-color: black; // Set the caret (blinking cursor) color to black
      }
}
.email{
    margin-top: .2rem;
    padding-left:.6rem;
}
.submit{
    padding:.75rem .75rem;
    margin-top: .5rem;
    margin-bottom:.65rem;
    background-color: #000;
    color:white;
    &:hover{
        opacity: .85;
        cursor: pointer; 
    }
}  
  }
}

@media screen and (min-width: 901px) and (max-width:1058px) {
    .container{
    .inner-content{
        .text{
            h1{
                width:60%;
            }
            p{
                width:47.5%;
            }
        }
    }
 }
}
@media screen and (min-width: 754px) and (max-width:900px) {
    .container{
    .inner-content{
        .text{
            h1{
                width:45%;
                font-size: 2.5rem;
                line-height:3rem;
            }
            p{
                width:56%;
            }
        }
    }
 }
}
@media screen and (min-width: 589px) and (max-width:753px) {
    .container{
    .inner-content{
        .text{
            h1{
                width:60%;
                font-size: 2.5rem;
                line-height:3rem;
            }
            p{
                width:71.5%;
            }
        }
        input{
            width:18.85rem;
        }
    }
 }
}
@media screen and (min-width: 548px) and (max-width:588px) {
    .container{
    .inner-content{
        .text{
            h1, span{
                width:70%;
                font-size: 2.5rem;
                line-height:3rem;
            }
            p{
                width:77.5%;
            }
        }
        input{
            width:18.85rem;
        }
    }
 }
}
@media screen and (min-width: 508px) and (max-width:547px) {
    .container{
    .inner-content{
        .text{
            h1, span{
                width:40%;
                font-size: 1.5rem;
                line-height:1.75rem;
            }
            p{
                font-size:1rem;
                line-height:1.25rem;
                width:72%;
            }
        }
        input{
            width:18.85rem;
        }
    }
 }
}
@media screen and (min-width: 430px) and (max-width:507px) {
    .container{
    .inner-content{
        .text{
            h1, span{
                width:47.5%;
                font-size: 1.5rem;
                line-height:1.75rem;
            }
            p{
                font-size:1rem;
                line-height:1.25rem;
                width:85%;
            }
        }
        input{
            width:18.85rem;
        }
    }
 }
}
@media screen and (min-width: 390px) and (max-width:429px) {
    .container{
    .inner-content{
        .text{
            h1, span{
                width:47.5%;
                font-size: 1.5rem;
                line-height:1.75rem;
            }
            p{
                font-size:1rem;
                line-height:1.25rem;
                width:87.5%;
            }
        }
        input{
            width:18.85rem;
        }
    }
 }
}
@media screen and (max-width: 389px) {
    .container{
    .inner-content{
        .text{
            h1, span{
                width:55%;
                font-size: 1.5rem;
                line-height:1.75rem;
            }
            p{
                font-size:.975rem;
                line-height:1.25rem;
                width:92.5%;
            }
        }
        input{
            width:18.85rem;
        }
    }
 }
}