.container {
  display: flex;
  flex-direction: column;
  height: 62.5vh;
}
.container img {
  margin-top: 1rem;
  background: none;
  padding: 0 0;
  border-radius: 0;
  padding-bottom: 0.6rem;
  width: 11rem;
}
.container .inner-content {
  display: flex;
  flex-direction: column;
}
.container .inner-content .text p:nth-child(1) {
  font-family: bw;
  font-size: 1.85rem;
  padding: 0;
}
.container .inner-content .text p {
  width: 70%;
  padding: 0.65rem 0 1.25rem 0;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.container .inner-content input {
  padding: 0.85rem 0.75rem;
  width: 27.25rem;
  font-family: arial;
  color: black;
  border: 1px solid black;
  border-radius: 0.2rem;
  font-size: 0.95rem;
}
.container .inner-content input:focus {
  outline: none;
  box-shadow: 0 0 1px 1px black;
  border-color: black;
  caret-color: black;
}
.container .inner-content .email {
  margin-top: 0.35rem;
}
.container .inner-content .submit {
  padding: 0.75rem 0.75rem;
  margin-top: 0.5rem;
  background-color: black;
  color: white;
}
.container .inner-content .submit:hover {
  opacity: 0.85;
  cursor: pointer;
}

@media screen and (min-width: 520px) and (max-width: 681px) {
  .container img {
    width: 10rem;
  }
  .container .inner-content .text p:nth-child(1) {
    font-size: 1.25rem;
  }
  .container .inner-content .text p:nth-child(1) {
    font-weight: bold;
  }
  .container .inner-content .text p {
    width: 55%;
    padding: 0.35rem 0 1.25rem 0;
    font-size: 0.95rem;
    line-height: 1.75rem;
  }
  .container .inner-content input {
    width: 18.25rem;
  }
}
@media screen and (min-width: 500px) and (max-width: 519px) {
  .container img {
    width: 10rem;
  }
  .container .inner-content .text p:nth-child(1) {
    font-size: 1.25rem;
  }
  .container .inner-content .text p:nth-child(1) {
    font-weight: bold;
  }
  .container .inner-content .text p {
    width: 57.5%;
    padding: 0.35rem 0 1.25rem 0;
    font-size: 0.95rem;
    line-height: 1.75rem;
  }
  .container .inner-content input {
    width: 18.5rem;
  }
}
@media screen and (min-width: 478px) and (max-width: 499px) {
  .container img {
    width: 10rem;
  }
  .container .inner-content .text p:nth-child(1) {
    font-size: 1.25rem;
  }
  .container .inner-content .text p:nth-child(1) {
    font-weight: bold;
  }
  .container .inner-content .text p {
    width: 60%;
    padding: 0.35rem 0 1.25rem 0;
    font-size: 0.95rem;
    line-height: 1.75rem;
  }
  .container .inner-content input {
    width: 18.5rem;
  }
}
@media screen and (min-width: 458px) and (max-width: 477px) {
  .container img {
    width: 10rem;
  }
  .container .inner-content .text p:nth-child(1) {
    font-size: 1.25rem;
  }
  .container .inner-content .text p:nth-child(1) {
    font-weight: bold;
  }
  .container .inner-content .text p {
    width: 62.5%;
    padding: 0.35rem 0 1.25rem 0;
    font-size: 0.95rem;
    line-height: 1.75rem;
  }
  .container .inner-content input {
    width: 18.5rem;
  }
}
@media screen and (min-width: 440px) and (max-width: 457px) {
  .container img {
    width: 10rem;
  }
  .container .inner-content .text p:nth-child(1) {
    font-size: 1.25rem;
  }
  .container .inner-content .text p:nth-child(1) {
    font-weight: bold;
  }
  .container .inner-content .text p {
    width: 65%;
    padding: 0.35rem 0 1.25rem 0;
    font-size: 0.95rem;
    line-height: 1.75rem;
  }
  .container .inner-content input {
    width: 18.25rem;
  }
}
@media screen and (min-width: 410px) and (max-width: 439px) {
  .container img {
    width: 10rem;
  }
  .container .inner-content .text p:nth-child(1) {
    font-size: 1.25rem;
  }
  .container .inner-content .text p:nth-child(1) {
    font-weight: bold;
  }
  .container .inner-content .text p {
    width: 70%;
    padding: 0.35rem 0 1.25rem 0;
    font-size: 0.95rem;
    line-height: 1.75rem;
  }
  .container .inner-content input {
    width: 18.25rem;
  }
}
@media screen and (max-width: 409px) {
  .container img {
    width: 10rem;
  }
  .container .inner-content .text p:nth-child(1) {
    font-size: 1.25rem;
  }
  .container .inner-content .text p:nth-child(1) {
    font-weight: bold;
  }
  .container .inner-content .text p {
    width: 80%;
    padding: 0.35rem 0 1.25rem 0;
    font-size: 0.95rem;
    line-height: 1.75rem;
  }
  .container .inner-content input {
    width: 19.5rem;
  }
}

/*# sourceMappingURL=index.css.map */
