.container {
  display: flex;
  flex-direction: column;
  height: 77vh;
}
.container img {
  margin-top: 1rem;
  background: none;
  padding: 0 0;
  border-radius: 0;
  padding-bottom: 0.6rem;
  width: 11rem;
}
.container .logo {
  padding-right: 1.75rem;
}
.container .inner-content {
  display: flex;
  flex-direction: column;
}
.container .inner-content .text p:nth-child(1) {
  font-family: bw;
  font-weight: bold;
  font-size: 1.7rem;
  padding: 0;
}
.container .inner-content .text p {
  width: 37.5%;
  padding: 0.2rem 0 1.25rem 0;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.container .inner-content input {
  padding: 0.85rem 0.75rem;
  width: 21.75rem;
  font-family: arial;
  color: black;
  border: 2px solid black;
  border-radius: 0.2rem;
  font-size: 0.95rem;
}
.container .inner-content input:focus {
  outline: none;
  box-shadow: 0 0 1px 1px black;
  border-color: black;
  caret-color: black;
}
.container .inner-content .email {
  margin-top: 0.35rem;
}
.container .inner-content .submit {
  padding: 0.75rem 0.75rem;
  margin-top: 0.5rem;
  background-color: black;
  color: white;
}
.container .inner-content .submit:hover {
  opacity: 0.85;
  cursor: pointer;
}

@media screen and (min-width: 806px) and (max-width: 859px) {
  .container img {
    width: 10rem;
  }
  .container .inner-content .text p {
    width: 40%;
  }
  .container .inner-content input {
    width: 20.75rem;
  }
}
@media screen and (min-width: 711px) and (max-width: 805px) {
  .container img {
    width: 10rem;
  }
  .container .inner-content .text p {
    width: 45%;
  }
  .container .inner-content input {
    width: 20.75rem;
  }
}
@media screen and (min-width: 596px) and (max-width: 710px) {
  .container img {
    width: 10rem;
  }
  .container .inner-content .text p {
    width: 57.25%;
  }
  .container .inner-content input {
    width: 21rem;
  }
}
@media screen and (min-width: 491px) and (max-width: 595px) {
  .container img {
    width: 10rem;
  }
  .container .inner-content .text p {
    width: 70%;
  }
  .container .inner-content input {
    width: 21rem;
  }
}
@media screen and (min-width: 596px) and (max-width: 710px) {
  .container img {
    width: 10rem;
  }
  .container .inner-content .text p {
    width: 57.25%;
  }
  .container .inner-content input {
    width: 21rem;
  }
}
@media screen and (min-width: 340px) and (max-width: 405px) {
  .container img {
    width: 10rem;
  }
  .container .inner-content .text p {
    width: 87.5%;
  }
  .container .inner-content input {
    width: 21rem;
  }
}
@media screen and (min-width: 406px) and (max-width: 490px) {
  .container img {
    width: 10rem;
  }
  .container .inner-content .text p {
    width: 80%;
  }
  .container .inner-content input {
    width: 21rem;
  }
}
@media screen and (max-width: 339px) {
  .container {
    padding: 0 0.35rem;
  }
  .container img {
    width: 10rem;
  }
  .container .inner-content .text p:nth-child(1) {
    font-size: 1.5rem;
  }
  .container .inner-content .text p {
    width: 97.5%;
  }
  .container .inner-content input {
    width: 21rem;
  }
}

/*# sourceMappingURL=index.css.map */
